<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Tính thuế</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">

    <!-- Begin navbar -->

    <nav class="navbar navbar-expand-sm navbar-light fixed-top shadow-sm" id="mainNav" 
        style="background-color: white;padding: 0.6rem;">
        <div class="container px-5">
            <a class="navbar-brand fw-bold fs-6" th:href="@{/home-page}">THUẾ CÁ NHÂN</a>

            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/khai-bao-thue/thong-tin-co-ban}">Khai báo thuế</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/tinh-thue}">Tính thuế</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/quyet-toan-thue}">Quyết toán</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/logout}">Đăng xuất</a></li>

            </ul>
            </div>
        </div>
    </nav>
    <!-- End of navbar -->

        <!-- Navigation-->

        					
        <section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center" >
				<div class="col-md-7 col-lg-12" >
          <!-- Kiểm tra điều kiện status model và hiển thị thông báo nếu cần -->
          <div th:if="${status == '00'}" class="alert alert-warning">
            THÔNG TIN THUẾ ĐANG ĐƯỢC DUYỆT. QUÝ KHÁCH VUI LÒNG ĐỢI KẾT QUẢ TRONG VÀI NGÀY TỚI
          </div><div th:if="${status == '02'}" class="alert alert-danger">
            THÔNG TIN THUẾ DUYỆT THẤT BẠI! VUI LÒNG LIÊN HỆ LẠI CỤC THUẾ THEO SỐ ĐIỆN THOẠI 0123456789 ĐỂ BIẾT THÊM CHI TIẾT!
          </div>   </div><div th:if="${status == '04'}" class="alert alert-warning">
            QUÝ KHÁCH VUI LÒNG KHAI BÁO THÔNG TIN THUẾ
            </div>

          <div th:if="${status == '01'|| status == '03'}" class="login-wrap p-4 p-md-1 shadow" >
            <!-- Kiểm tra điều kiện status model và hiển thị thông báo alert nếu cần -->
            <div th:if="${paystatus == '00'}">
              <script th:inline="javascript">
                alert('Thanh toán thành công!');
              </script>
            </div>
            <!-- Kiểm tra điều kiện status model và hiển thị thông báo alert nếu cần -->
            <div th:if="${paystatus == '99'}">
              <script th:inline="javascript">
                alert('Thanh toán thất bại!');
              </script>
            </div>

            <h3 class="text-center my-4" style=" color: #2b6054;">Thông tin cần quyết toán</h3>
                    <!-- FORM -->
                    <form th:action="@{/thanh-toan/vnpay}" class="login-form"  method="post" th:object="${thongtinthue}">
                      <input type="hidden" name="id"
                             class="form-control rounded-left mt-2 " required th:field="*{id}"
                              readonly>
                        <div class="table">
                            <table class="table">
                                <thead class="thead-dark" style=" color: #2b6054;">
                                  <tr>
                                    <th scope="col">STT</th>
                                    <th scope="col">Mã chỉ tiêu</th>
                                    <th scope="col">Chỉ tiêu</th>
                                    <th scope="col">Đơn vị tính</th>
                                    <th scope="col">Số tiền</th>
                                  </tr>
                                </thead>
                                <tbody>
                                    <!-- 1. TNCT = Thu nhập chiu thuế = Tổng 2 thông tin cần điền  -->
                                    <tr style="background-color: rgb(246, 246, 246);">
                                      <th scope="row">1</th>
                                      <td>[20]</td>
                                      <td>Tổng thu nhập chịu thuế (TNCT) trong kỳ: [20] = [21] + [22]</td>
                                      <td>VNĐ</td>
                                      <td>
                                        <input type="number" class="form-control rounded-left mt-2" required th:field="*{TNCT}"
                                        name="thuNhapTaiVietNam" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row"></th>
                                      <td>[21]</td>
                                      <td>Tổng thu nhập phát sinh tại Việt Nam</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" class="form-control rounded-left mt-2" required th:field="*{TNPSVN}"
                                              name="thuNhapTaiVietNam" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                    </tr>
                                    <tr>
                                      <th scope="row"></th>
                                      <td>[22]</td>
                                      <td>Tổng thu nhập phát sinh ngoài Việt Nam</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" name="thuNhapNgoaiVietNam" 
                                              class="form-control rounded-left mt-2" required th:field="*{TNPSQT}" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                    </tr>

                                    <!-- 2. Danh sách giảm trừ  -->
                                    <tr style="background-color: rgb(246, 246, 246);">
                                      <th scope="row">2</th>
                                      <td>[23]</td>
                                      <td>Danh sách các khoản giảm trừ: [23] = [24] + [25] +[26] +[27] </td>
                                      <td>VNĐ</td>
                                      <td>
                                        <input type="number" class="form-control rounded-left mt-2" required th:field="*{DSGT}"
                                        name=" " onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <th scope="row"></th>
                                      <td>[24]</td>
                                      <td>Giảm trừ cá nhân</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" name="giamTru_CaNhan"
                                              class="form-control rounded-left mt-2" required th:field="*{GTCN}" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <th scope="row"></th>
                                      <td>[25]</td>
                                      <td>Giảm trừ người phụ thuộc</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" name="giamTru_CaNhan"
                                              class="form-control rounded-left mt-2" required th:field="*{GTPT}" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <th scope="row"></th>
                                      <td>[26]</td>
                                      <td>Từ thiện, nhân đạo</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" name="giamTru_TuThien"
                                              class="form-control rounded-left mt-2" required th:field="*{TTND}" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                  </tr>
  
                                  <tr>
                                      <th scope="row"></th>
                                      <td>[27]</td>
                                      <td>Giảm trừ bảo hiểm</td>
                                      <td>VNĐ</td>
                                      <td>
                                          <input type="number" name="giamTru_BaoHiem"
                                              class="form-control rounded-left mt-2" required th:field="*{GTBH}"
                                              onchange="enforceMin(this, 0)" readonly>
                                      </td>

                                      <!-- 3. Kết quả  -->
                                    <tr style="background-color: rgb(246, 246, 246);">
                                      <th scope="row">3</th>
                                      <td>[28]</td>
                                      <td>Số tiền tính thuế: [28] = [20] - [23] </td>
                                      <td>VNĐ</td>
                                      <td>
                                        <input type="number" class="form-control rounded-left mt-2" required th:field="*{SotienTinhthue}"
                                        name="TNTT" onchange="enforceMin(this, 0)" readonly>
                                      </td>
                                  </tr>

                                  <tr style="background-color: rgb(246, 246, 246);" >
                                    <th scope="row">4</th>
                                    <td>[29]</td>
                                    <td>Tiền thuế cần nộp: </td>
                                    <td>VNĐ</td>
                                    <td>
                                      <input type="number" class="form-control rounded-left mt-2" required th:field="*{thueCanNop}"
                                      name="tienThue" onchange="enforceMin(this, 0)" readonly>
                                    </td>
                                  </tr>
                                      
                                  </tr>
                                </tbody>
                            </table>
                              
                        </div>
                        
                        
                        <div th:if="${status == '01' && paystatus != '00'}"class="form-group mx-auto justify-content-center">
                            <button type="submit" class="form-control rounded submit mx-auto" style ="background-color: #2b6054; color: white; max-width: 20%;">
                                Quyết toán thuế
                            </button>
                        </div> <div th:if="${status == '03'|| paystatus == '00'}"class="form-group mx-auto justify-content-center">
                            <button disabled type="submit" class="form-control rounded submit mx-auto" style ="background-color: #2b6054; color: white; max-width: 20%;">
                                Đã quyết toán
                            </button>
                        </div>
                    </form>
                <!-- END FORM -->
	                </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>

  <!-- Set giá trị max, min cho phần tháng, nam -->
  <script>
    var thuNhapTaiVietNam = document.getElementById("thuNhapTaiVietNam");
    var thuNhapNgoaiVietNam = document.getElementById("thuNhapNgoaiVietNam");

    thuNhapTaiVietNam.addEventListener("input", function() {
      if (parseInt(this.value) < parseInt(this.min)) {
        this.value = this.min;
      }
    });

    thuNhapNgoaiVietNam.addEventListener("input", function() {
      if (parseInt(this.value) < parseInt(this.min)) {
        this.value = this.min;
      }
    });
  </script>
<!-- Phân cách 3 số không -->
    <script>
    function formatNumberInput(input) {
      var value = input.value.replace(/[^0-9]/g, '');
      value = value.replace(/\B(?=(\d{3})+(?!\d))/g, '.');
      input.value = value;
    }
    </script>

     	<!-- end 2 -->
    </body>
</html>
