<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <title>Khai báo thuế - Người phụ thuộc</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Newsreader:ital,wght@0,600;1,600&amp;display=swap" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,300;0,500;0,600;0,700;1,300;1,500;1,600;1,700&amp;display=swap" rel="stylesheet" />
        <link href="/css/login.css" rel="stylesheet" />
        <link href="/css/style.css" rel="stylesheet" />
    </head>
    <body id="page-top">

    <!-- Begin navbar -->

    <nav class="navbar navbar-expand-sm navbar-light fixed-top shadow-sm" id="mainNav" 
        style="background-color: white;padding: 0.6rem;">
        <div class="container px-5">
            <a class="navbar-brand fw-bold fs-6" th:href="@{/home-page}">THUẾ CÁ NHÂN</a>

            <ul class="navbar-nav ms-auto me-4 my-3 my-lg-0">
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/khai-bao-thue/thong-tin-co-ban}">Khai báo thuế</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/tinh-thue}">Tính thuế</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/quyet-toan-thue}">Quyết toán</a></li>
                <li class="nav-item"><a class="nav-link me-lg-3" th:href="@{/logout}">Đăng xuất</a></li>

            </ul>
            </div>
        </div>
    </nav>
    <!-- End of navbar -->

        <!-- Navigation-->

        					
        <section class="ftco-section">
		<div class="container">
			
			<div class="row justify-content-center" >
				<div class="col-md-7 col-lg-12" >
					<div class="login-wrap p-4 p-md-1 shadow" >
		      	
                    <h3 class="text-center my-4" style=" color: #2b6054;">Bảng kê khai giảm trừ người phụ thuộc</h3>
                    <!-- FORM -->
            <div class="container mt-3">
              <table class="table table-striped">
                <thead>
                <tr>
                  <th hidden="hidden">STT</th>
                  <th>Họ tên</th>
                  <th>Căn cước công dân</th>
                  <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="person : ${dtoList}">
                  <td hidden="hidden" th:text="${person.id}"></td>
                  <td hidden="hidden" th:text="${person.nguoidongthueid}"></td>
                  <td th:text="${person.hovaten}"></td>
                  <td th:text="${person.CCCD}"></td>
                  <td>
                    <button class="btn btn-primary btn-sm" th:attr="data-toggle='modal', data-target='#editPersonModal', data-id=${person.id}, data-fullname=${person.hovaten}, data-identitynumber=${person.CCCD}" onclick="editPerson(this)">Sửa</button>
                    <button class="btn btn-danger btn-sm" th:attr="data-id=${person.id}" onclick="deletePerson(this)">Xóa</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>

            <!-- END FORM -->
            <div class="form-group mx-auto justify-content-center">
              <button class="btn btn-primary btn-sm" th:attr="data-toggle='modal', data-target='#addPersonModal', data-id=null, data-fullname=null, data-taxcode=null, data-identitynumber=null" onclick="add(this)">Thêm</button>

              <a th:href="@{/home-page}">
                <button type="button" class=" rounded submit mx-auto" style ="background-color: #2b6054; color: white; max-width: 20%;">
                  Hủy khai báo
                </button>
              </a>

              <!-- Hoàn thành, gửi dữ liệu về lấy số người phụ thuộc và trở về trang khai báo tiền thuế -->
              <a class="text-decoration-none" th:href="@{/khai-bao-thue/tien-thue}">
              <button  type="submit" class="form-control rounded submit mx-auto" style ="background-color: #2b6054; color: white; max-width: 20%;">
                Tiếp theo
              </button>
              </a>
            </div>
	                </div>
				</div>
			</div>
		</div>
	</section>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/main.js"></script>
  <script src="/js/validate.js"></script>
    <script th:inline="javascript">
      function editPerson(button) {
        console.log("vô");
        var id = button.getAttribute("data-id");
        var fullname = button.getAttribute("data-fullname");
        var taxcode = button.getAttribute("data-taxcode");
        var identitynumber = button.getAttribute("data-identitynumber");

        document.getElementById("edit-id").value = id;
        document.getElementById("edit-fullname").value = fullname;
        document.getElementById("edit-taxcode").value = taxcode;
        document.getElementById("edit-identitynumber").value = identitynumber;
      }



      function deletePerson(element) {
        // Lấy ID của người dùng từ thuộc tính data-id của nút "Xóa"
        var id = element.getAttribute("data-id");

        // Gửi yêu cầu xóa thông tin người dùng lên máy chủ
        fetch('/khai-bao-thue/nguoi-phu-thuoc/delete', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({
            id: id
          })
        })
        .then(data => {
          console.log(data);
          if (data.status == 200) {
            // Thông báo xóa thành công
            alert("Xóa thông tin thành công");
            // Tải lại trang
            location.reload();
          } else {
            // Hiển thị thông báo lỗi
            alert("Xóa thông tin không thành công");
          }
        })
      }


    </script>
    <!-- Popup sửa thông tin người dùng -->
    <div class="modal fade" id="editPersonModal" tabindex="-1" role="dialog" aria-labelledby="editPersonModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="editPersonModalLabel">Sửa thông tin người phụ thuộc</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" th:object="${dto}" th:action="@{/khai-bao-thue/nguoi-phu-thuoc/edit}">
              <div class="form-group">
                <input type="hidden" class="form-control" id="edit-id" readonly th:field="*{id}">
                <input type="hidden" class="form-control" id="edit-id" readonly th:field="*{nguoidongthueid}">
              </div>
              <div class="form-group">
                <label for="edit-fullname">Họ tên</label>
                <input type="text" class="form-control" id="edit-fullname" th:field="*{hovaten}">
              </div>
              <div class="form-group">
                <label for="edit-identitynumber">Căn cước công dân</label>
                <input type="text" class="form-control" id="edit-identitynumber" th:field="*{CCCD}">
              </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
            <button type="submit" class="btn btn-primary">Lưu</button>
          </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="addPersonModal" tabindex="-1" role="dialog" aria-labelledby="addPersonModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addPersonModalLabel">Thêm người</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Đóng">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="post" th:object="${dto}" th:action="@{/khai-bao-thue/nguoi-phu-thuoc/add}">
<!--              <div class="form-group">-->
<!--                <label for="edit-id">ID</label>-->
<!--                <input type="text" class="form-control" id="edit-id" readonly th:field="*{id}">-->
<!--              </div>-->
              <div class="form-group">
                <label for="edit-fullname">Họ tên</label>
                <input type="text" class="form-control" id="edit-fullname" th:field="*{hovaten}">
              </div>
              <div class="form-group">
                <label for="edit-identitynumber">Căn cước công dân</label>
                <input type="text" class="form-control" id="edit-identitynumber" th:field="*{CCCD}">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-primary">Lưu</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    </body>
</html>
